@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Stylist: @Model["selectedStylist"].GetStylistName()</h1>
  <hr/>
  <h3>Here are all the clients for this stylist:</h3>

  <ol>
    @foreach (Client client in Model["stylistClients"])
    {
      <li>@client.GetClientName()</li>
    }
  </ol>

  <p><a href='/stylists'>Return to Stylists List</a></p>
  <p><a href='/'>Return to Main Page</a></p>
</div>
