@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Stylist: @Model["selectedStylist"].GetStylistName()</h1>
  <hr/>
  @if (Model["stylistClients"].Count == 0)
    {
      <h3>No clients have been added.</h3>
    }
    else
    {
      <h3>Here are all the clients for this stylist:</h3>
      <ol>
        @foreach (var client in Model["stylistClients"])
        {
          <li>@client.GetClientName()</li>
        }
      </ol>
    }

  <br>
  <br>
  <p><a href = "/stylists/@Model["selectedStylist"].GetId()/new">Add a client</a></p>
  <p><a href="">Delete this stylist</a></p>
  <hr/>
  <p><a href='/stylists'>Return to Stylists List</a></p>
  <p><a href='/'>Return to Main Page</a></p>
</div>
