@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Add a Service</h1>
  <hr/>
  @if (@Specialty.GetAllSpecialties().Count == 0)
    {
      <h3>No services listed. Please add a service.</h3>
      <br>
    }

  <form action="/specialties" method="post">
    <label for="service">Service:</label>
    <input id="service" name="service" type="text">
    <br>
    <br>
    <button type="submit">Add Service</button>
  </form>

  <hr/>
  <p><a href="/specialties">See list of services</a></p>
  <p><a href="/">Back home</a></p>
</div>
