@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Salon Administration</h1>
  <hr/>

  <br>
  <br>
  <br>
  <p><a href="/stylists">View Stylists</a></p>
  <p><a href="/specialties">View Services</a></p>
  <p><a href="/clients">View Clients</a></p>
</div>
