@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Add a Client</h1>
  <hr/>
  <form action="/clients" method="post">
    <input id="stylistId" name="stylistId" type='hidden' value='@Model.GetId()'
    <label for="clientName">Client's name</label>
    <input id="clientName" name="clientName" type="text">
    <br>
    </select>
    <button type="submit">Add Client</button>
  </form>
  <br>
  <p><a href="/">Back home</a></p>
  <p><a href="/stylists">Back to list of Stylists.</a></p>
  <p><a href="/clients">Back to list of Clients.</a></p>
</div>
